In [87]:
import pandas as pd
import numpy as np
import cv2 as cv
from matplotlib import pyplot as plt
import time
from IPython.display import clear_output
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree

In [70]:
#Preprocess training set
data=pd.read_csv('C:/Users/X99S5/Documents/AMLS_22-23_SN18046828/Datasets/cartoon_set/labels.csv')

labelsTrain = data["\teye_color\tface_shape\tfile_name"].str.split(pat="\t", n=-1, expand=True)
labelsTrain.drop(columns =[0,2], inplace = True)
labelsTrain.columns = [ "eye_color" , "img_name"]
labelsTrain = labelsTrain.astype({'eye_color': 'int32'})
labelsTrain = labelsTrain.astype({'img_name': 'string'})

#Preprocess testing set
data=pd.read_csv('C:/Users/X99S5/Documents/AMLS_22-23_SN18046828/Datasets/cartoon_set_test/labels.csv')

labelsTest = data["\teye_color\tface_shape\tfile_name"].str.split(pat="\t", n=-1, expand=True)
labelsTest.drop(columns =[0,2], inplace = True)
labelsTest.columns = [ "eye_color" , "img_name"]
labelsTest = labelsTest.astype({'eye_color': 'int32'})
labelsTest = labelsTest.astype({'img_name': 'string'})

In [159]:
#Load training set################################
imagesTrain = np.zeros((10000, 50 , 50, 3)) 

for i in range(0,10000):
    image = cv.imread('C:/Users/X99S5/Documents/AMLS_22-23_SN18046828/Datasets/cartoon_set/img/' + labelsTrain["img_name"][i])
    image = image[230:270,180:320] # cut 95 from left / right sides , 75 from top, 80 from the bottom
    image = cv.resize(image, dsize=(50 , 50), interpolation=cv.INTER_CUBIC)
    imagesTrain[i] = image
    
imagesTrain = imagesTrain.reshape(10000,7500)    
imagesTrain = pd.DataFrame(imagesTrain) 


#Load Testing set################################
imagesTest = np.zeros((2500, 50 , 50, 3))

for i in range(0,2500):
    image = cv.imread('C:/Users/X99S5/Documents/AMLS_22-23_SN18046828/Datasets/cartoon_set_test/img/' + labelsTest["img_name"][i])
    image = image[230:270,180:320]
    image = cv.resize(image, dsize=(50 , 50), interpolation=cv.INTER_CUBIC)
    imagesTest[i] = image
    
    
imagesTest = imagesTest.reshape(2500,7500)   
imagesTest = pd.DataFrame(imagesTest)

In [147]:
imagesTrain

,0,1,2,3,4,5,6,7,8,9,...,7490,7491,7492,7493,7494,7495,7496,7497,7498,7499
0,50.0,154.0,216.0,50.0,154.0,216.0,44.0,137.0,192.0,23.0,...,240.0,146.0,192.0,240.0,146.0,192.0,240.0,146.0,192.0,240.0
1,174.0,164.0,144.0,174.0,164.0,144.0,176.0,166.0,146.0,169.0,...,96.0,48.0,61.0,96.0,48.0,61.0,96.0,48.0,61.0,96.0
2,110.0,161.0,217.0,110.0,161.0,217.0,110.0,161.0,217.0,110.0,...,217.0,67.0,117.0,160.0,31.0,94.0,132.0,50.0,154.0,216.0
3,13.0,25.0,45.0,164.0,185.0,214.0,193.0,216.0,246.0,193.0,...,246.0,193.0,216.0,246.0,193.0,216.0,246.0,193.0,216.0,246.0
4,86.0,80.0,71.0,175.0,194.0,218.0,193.0,216.0,246.0,193.0,...,246.0,193.0,216.0,246.0,193.0,216.0,246.0,193.0,216.0,246.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,126.0,180.0,227.0,126.0,180.0,227.0,126.0,180.0,227.0,126.0,...,227.0,126.0,180.0,227.0,126.0,180.0,227.0,126.0,180.0,227.0
9996,146.0,192.0,240.0,146.0,192.0,240.0,146.0,192.0,240.0,146.0,...,240.0,146.0,192.0,240.0,146.0,192.0,240.0,146.0,192.0,240.0
9997,193.0,216.0,246.0,193.0,216.0,246.0,193.0,216.0,246.0,193.0,...,246.0,150.0,180.0,209.0,26.0,79.0,110.0,50.0,154.0,217.0
9998,50.0,154.0,216.0,52.0,161.0,226.0,42.0,130.0,183.0,32.0,...,227.0,126.0,180.0,227.0,126.0,180.0,227.0,126.0,180.0,227.0
9999,31.0,46.0,101.0,109.0,122.0,167.0,197.0,207.0,242.0,209.0,...,251.0,209.0,219.0,251.0,209.0,219.0,251.0,209.0,219.0,251.0

255.0

In [167]:
#accuracy = []
#r=range(1000,1500,100) #peaks at 950/1000
#for i in r: 
#might be failing due to bgr values
model = KNeighborsClassifier(n_neighbors=200)
model.fit(imagesTrain,labelsTrain['eye_color'])
model.score(imagesTest,labelsTest['eye_color'])
#accuracy.append(model.score(imagesTest,labelsTest['eye_color']))
#plt.plot(r,accuracy)

0.8064

In [152]:
model = tree.DecisionTreeClassifier(max_depth=4,criterion = 'gini')
model.fit(imagesTrain,labelsTrain['eye_color'])
model.score(imagesTest,labelsTest['eye_color'])

0.8348